<h1>New Blog Entry</h1>

<form {{action 'createEntry' on="submit" preventDefault=true}}>
    <div class="form-group">
        <div class="form-group">
            {{input value=model.title type="text" class="form-control"}}
        </div>
        <div class="form-group">
            {{textarea value=model.body cols="30" rows="10" class="form-control"}}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary center-block">Create</button>
        </div>
    </div>
</form>