<h1>Blog Entries</h1>

{{#each model.entries as |row|}}
    <div class="list-group">
        <div class="list-group-item">
            {{#link-to "blog.entry" row.id}}{{row.title}}{{/link-to}}
        </div>
    </div>
{{/each}}
