<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li>{{#link-to "blog"}}All{{/link-to}}</li>
            <li>{{#link-to "blog.entry-new"}}Create{{/link-to}}</li>
        </ul>
    </div>
</nav>

{{outlet}}
