<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
        <div class="text-center">
            <h1>Welcome</h1>
        </div>
        <form {{action 'login' on="submit" preventDefault=true}}>
            <div class="form-group">
                <div class="form-group">
                    {{input value=model.username type="text" class="form-control"}}
                </div>
                <div class="form-group">
                    {{input value=model.password type="password" class="form-control"}}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-primary center-block">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

